body {
  font-family: "Noto Sans SC", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
  gap: 1em 1em;
}

.sidebar {
  background: rgb(77, 76, 76);
  border: radius 3px;
  height: min-content;
  grid-area: 1/2/1/2;
  /* position: ; */
  width: 95%;
  /* height: 300px; */
}

.main-para {
  display: block;
  /* grid-area: 2/1/2/2; */
}

img {
  width: 200px;
  height: 100px;
}
